body {
	overflow-x:hidden;
	overflow-y:auto;
	font-family: Lucida Grande, Arial, sans-serif;
	font-size: 12px;
	background-color: #fff;
	min-height: 300px;
	user-select: none;
	padding: 0px;
}

a {
	text-decoration: none;
}

section.main {
	float: left;
	clear: both;
	min-width:280px;
	padding: 0px 7px;
	width: 95%;
}

section#header {
	vertical-align: middle;
	margin-top: -5px;
	margin-bottom: 3px;
}

section#header h1 {
	font-size: 1em;
}

section#header h1 img {
	vertical-align: middle;
	max-width: 16px;
	max-height: 16px;
}

section#header .page, section#header .switch {
	float: right;
	clear: none;
}

section#header a#title {
	float: left;
	clear: left;
	font-weight: bold;
	color: #304669;
	font-size: 1.15em;
	text-decoration: none;
	vertical-align: middle;
	outline: none;
	margin-top: 2px;
}

section#header a#title img{
	margin-top: -3px;
}

section#header a.page, section#header a.switch {
	margin-left: 7px;
	font-size: 1.4em;
	cursor: pointer;
	outline:none;
}

section#header .fa {
	color: black;
	opacity: .6;
}

section#header .fa-facebook-official {
	color: #3b5998;
}

section#header .fa-twitter {
	color: #55A4DA;
}

section#header .fa-star {
	color: #FF9300;
}

section#header .fa-user-circle-o {
	zoom: 95%;
}

section#header .fa-lightbulb-o {
	margin-right: 3px;
}

section#header .fa:hover {
	opacity: 1;
}

section#header .fa.highlight {
	/* Find some way to highlight those icons nicely */
}

section#header a.switch i.fa-toggle-off {
	color: #444;
}

section#search {
	margin: 0px;
}

section#search p {
	margin: 0px;
	padding: 1px 1px 1px 5px;
	background-image: linear-gradient(to bottom, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 100%);
	border-radius: 3px 3px 0px 0px;
}

section#search i {
  color: #7B7B7B;
}

section#search input {
	color: #555;
	border: 0px;
	border-radius: 3px;
	background: transparent;
	padding: 3px;
	outline: none;
	width: auto;
	min-width: 200px;
}

section#content h1 {
	background-color: #516C97;
	background-image: linear-gradient(top, #7F97B9, #516C97);
	background-image: -o-linear-gradient(top, #7F97B9, #516C97);
	background-image: -moz-linear-gradient(top, #7F97B9, #516C97);
	background-image: -webkit-linear-gradient(top, #7F97B9, #516C97);
	background-image: -ms-linear-gradient(top, #7F97B9, #516C97);	
	padding: 3px 4px 3px 4px;
	margin: 0px;
	border-radius: 2px;
	text-shadow: 0 1px 1px rgba(0,0,0,.7);
	font-size: 1em;
	color: white;
}

section#content ul {
	margin: 0px 0px;
	padding: 0px 0px;
	list-style-type: none;
}

section#content ul li {
	color: black;
	padding: 3px 2px;
	cursor: pointer;
}

section#content ul li:hover {
	color: black;
	text-shadow: 0 1px 0 white;
	background-color: #e0e0e0;
	box-shadow: 0px 0px 15px rgba(0,0,0,.2) inset;
	border-radius: 2px;
}

section#content ul li img {
	vertical-align: middle;
	margin-top: -2px;
}

/** Disabled Status */
section#content li.disabled {
	background-color: #f0f0f0;
	color: #555;
	opacity: 0.7;
}

section#content li.disabled img {
	opacity: 0.3;
}

section#profiles i.fa-check {
	color: green;
}

section p.empty {
	text-align: center;
	color: #777;
}

section p.empty i.fa {
	font-size: 2em;
	margin-bottom: 10px;
}