body {
    margin-top: 1.0em;
    background-color: #304669;
    font-family: Palatino Linotype, Book Antiqua3, Palatino, serif;
    line-height: 170%;
    color: #ffffff;
}

#container {
    margin: 0 auto;
    width: 700px;
}

h1 {
    font-size: 3em;
    color: #fff;
    line-height: 100%;
    vertical-align: top;
}

h1 .small {
    font-size: 0.4em;
}

h1 img {
    vertical-align: top;
}

h1 a {
    text-decoration: none
}

h2 {
    font-size: 1.5em;
    color: #fff;
}

h3 {
    text-align: center;
    color: #fff;
}

a {
    color: #fff;
}

.description {
    font-size: 1.2em;
    margin-bottom: 30px;
    margin-top: 30px;
    font-style: italic;
    font-weight: bold;
}

.download {
    float: right;
}

pre {
    background: #000;
    color: #fff;
    padding: 15px;
    vertical-align: middle;
}

pre img {
    background-color: #304669;
    border: 1px solid white;
    padding: 2px;
    vertical-align: middle;
}

hr {
    border: 0;
    width: 80%;
    border-bottom: 1px solid #aaa
}

.footer {
    text-align: center;
    padding-top: 30px;
    font-style: italic;
}