body {
    margin-top: 1.0em;
    background-color: #304669;
    font-family: Palatino Linotype, Book Antiqua3, Palatino, serif;
    text-shadow: 0 1px 1px rgba(0,0,0,1);
    line-height: 170%;
    color: #ffffff;
}

#container {
    margin: 0 auto;
    width: 900px;
}

h1 {
    font-size: 3em;
    color: #fff;
    line-height: 100%;
    vertical-align: top;
}

h1 .small {
    font-size: 0.4em;
}

h1 img {
    vertical-align: top;
}

h1 a {
    text-decoration: none
}

h2 {
    font-size: 1.5em;
    color: #fff;
}

h3 {
    text-align: center;
    color: #fff;
}

a {
    color: #ffffff;
}

a:hover {
	font-weight: bold;
}


.description {
    font-size: 1.2em;
    margin-bottom: 30px;
    margin-top: 30px;
    font-style: italic;
    font-weight: bold;
}

.download {
    float: right;
}

pre {
    background: #000;
    color: #fff;
    font-family: "Courier New", Courier, monospace;
    font-size: 13px;
    padding: 15px;
    vertical-align: middle;
}

pre img {
	border: 4px solid #304669;
    background-color: white;
    padding: 2px;
    vertical-align: middle;
}
form.donate {
    box-sizing: border-box;
    width: 100%;
    background-color: #000;
    padding: 15px;
    margin: auto;
    font-family: "Courier New", Courier, monospace;
    font-size: 13px;
    text-align: left;
}

form.donate button {
    background: linear-gradient(#FFF6E9, #FFAA00);
    border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #FCB935;
    color :black;
    cursor: pointer;
    font-family: "Arial",sans-serif;
    font-size: 13px;
    font-weight: normal;
    padding: 7px 12px;
    text-decoration: none;
    text-shadow: 0px 0px 2px white;
}

form.donate button:hover {
    box-shadow: 0 0 5px rgba(255,255,255,.7);
	text-decoration: underline;
}

form.donate p {
    padding: 0;
    margin: 5px 0 0 0;
    font-size: 12px;
}

hr {
    border: 0;
    width: 80%;
    border-bottom: 1px solid #aaa
}


.donate {
    background-color: #fff;
    color: #000;
    text-shadow: none;
    padding: 30px;
}

.donate a.crypto {
    background: linear-gradient(#FFF6E9, #FFAA00);
    border-radius: 5px;
    border: 1px solid #FCB935;
    color :black;
    font-family: "Arial",sans-serif;
    font-size: 13px;
    font-weight: normal;
    padding: 7px 12px;
    text-decoration: none;
    text-shadow: 0px 0px 2px white;
}

.donate a.crypto img {
    width: 22px;
    height: 22px;
    vertical-align: bottom;
    margin-bottom: 3px;
}

.donate .crypto-widget {
    width: 49%;
    text-align: center;
}

.donate .crypto-widget span {
    background-color: #f5f5f5;
    border-radius: 3px;
    border: 1px solid grey;
    font-family: monospace;
    font-size: 15px;
    font-weight: bold;
    padding: 5px 10px;
    text-align: center;
}

.donate .crypto-widget img.icon {
    width: 100px;
    height: 100px;
}

.donate .crypto-widget img.qr {
    margin-top: 10px;
    width: 25%;
    height: 25%;
}

.donate .donate-form {
    text-align: center;
}

.donate .face {
    float: right;
    border-radius: 3px;
}

.footer {
    text-align: center;
    padding-top: 30px;
    font-style: italic;
}