body {
	overflow-x:hidden;
	overflow-y:auto;
	font-family: Roboto, Arial, sans-serif;
	font-size: 16px;
	font-weight: 300;
	background-color: #fff;
	min-height: 300px;
	width: 400px;
	user-select: none;
	padding: 0px;
}

a {
	text-decoration: none;
}

section.main {
	float: left;
	clear: both;
	min-width:280px;
	width: 100%;
}

section#header {
	vertical-align: middle;
	margin-top: -5px;
	margin-bottom: 3px;
}

section#header h1 {
	font-size: 1em;
}

section#header h1 img {
	vertical-align: middle;
	max-width: 16px;
	max-height: 16px;
}

section#header .page, section#header .switch {
	float: right;
	clear: none;
}

section#header a#title {
	float: left;
	clear: left;
	font-weight: bold;
	color: #304669;
	font-size: 1.15em;
	text-decoration: none;
	vertical-align: middle;
	outline: none;
	margin: 5px 7px;
}

section#header a#title img{
	margin-top: -3px;
}

section#header a.page, section#header a.switch {
	margin-right: 10px;
	font-size: 1.4em;
	cursor: pointer;
	outline:none;
}

section#header .fa {
	color: #304669;
}

section#header .fa-facebook-square {
	color: #3b5998;
}

section#header .fa-twitter {
	color: #1da1f2;
}

section#header .fa-star {
	color: #FF9300;
}

section#header .fa-user-circle {
	zoom: 95%;
}

section#header .fa-lightbulb-o {
	margin-right: 3px;
}

section#header .fa:hover {color: #304669;opacity: .6;}

section#header .fa.highlight {
	/* Find some way to highlight those icons nicely */
}

section#header a.switch i.fa-toggle-off {
	color: #444;
}

section#search {
	margin: 0px;
}

section#search p {
	padding: 1px 1px 1px 5px;
	box-shadow: rgba(60, 64, 67, 0.15) 0px 1px 5px 0px, rgba(60, 64, 67, 0.1) 0px 4px 4px 0px, rgba(60, 64, 67, 0.08) 0px -0.1px 3px 0px;
	border-radius: 25px;
	margin: .5em;
}

section#search i {
  color: #d4d2d2;
  padding: 5px;
}

section#search input {
	color: #555;
	border: 0px;
	border-radius: 3px;
	background: transparent;
	padding: 3px;
	outline: none;
	width: auto;
	min-width: 200px;
}

section#content h1 {
	background-color: #304669;
	padding: 5px 0 5px 10px;
	margin: 0px;
	border-radius: 0;
	font-size: 1em;
	font-weight: 400;
	color: white;
}

section#content ul {
	margin: 0px 0px;
	list-style-type: none;
	padding: 5px 10px;
}

section#content ul li {
	color: black;
	padding: 5px 2px;
	cursor: pointer;
}

section#content ul li:hover {
	color: black;
	background: #d2d3d4;
}

section#content ul li img {
	vertical-align: middle;
	margin-top: -2px;
}

/** Disabled Status */
section#content li.disabled {
	background-color: #f0f0f0;
	color: #555;
	opacity: 0.7;
}

section#content li.disabled img {
	opacity: 0.3;
}

section#content li i.fa-cog {
	float: right;
	margin-top: 2px;
	color: #777;
	font-size: 1.1em;
}

section#content li i.fa-cog:hover {
	color: #333;
}

section#content li i.fa-flask {
	color: #777;
}

section#profiles i.fa-check {
	color: green;
}

section p.empty {
	text-align: center;
	color: #777;
}

section p.empty i.fa {
	font-size: 2em;
	margin-bottom: 10px;
}