body {
	min-width:270px;
	margin-top: 1px;
	margin-bottom: 20px;
	overflow-x:hidden;
	overflow-y:auto;
	font-family: Lucida Grande, Arial, sans-serif;	
	font-size: 12px;
	background-color: #fff;
/*	-webkit-touch-callout: none;
	-webkit-user-select: none; */
	user-select: none;
}
#header {
	width: 97%;
	float: left;
	clear: both;
	vertical-align: middle;
	padding: 2px 4px 2px 4px;
}
#header div img {
	vertical-align: middle;
	max-width: 16px;
	max-height: 16px;	
}

#header div span {
	vertical-align: middle;
}

#header #title {
	float: left;
	clear: left;
	font-weight: bold;
	color: #304669;
}

#header #actions {
	float: right;
	clear: right;
	margin-right: 5px;
}

#header #actions img:hover {
	opacity: .5;
	cursor: pointer;
}

.extension-section {
	float: left;
	clear: both;
	width: 97%;
	margin: 2px 0 2px 0;
	background-color: #516C97;
	background-image: linear-gradient(top, #7F97B9, #516C97);
	background-image: -o-linear-gradient(top, #7F97B9, #516C97);
	background-image: -moz-linear-gradient(top, #7F97B9, #516C97);
	background-image: -webkit-linear-gradient(top, #7F97B9, #516C97);
	background-image: -ms-linear-gradient(top, #7F97B9, #516C97);	
	padding: 3px 4px 3px 4px;
	border-radius: 2px;
	text-shadow: 0 1px 1px rgba(0,0,0,.7);
}

.extension-section span {
	color: #ffffff;
	font-weight: bold;
}

.extension-item {
	float: left;
	clear: both;
	width: 97%;
	cursor: pointer;
	padding: 2px 4px 2px 4px;
	color: #252525;
	background-color: #ffffff;
	text-decoration: none;
	outline: none;
	border-bottom: 1px solid #fff;
}

.extension-item img {
	vertical-align: middle;
	max-width: 16px;
	max-height: 16px;
	cursor: inherit;
}

.extension-item span {
	vertical-align: middle;
	text-decoration: none;
	word-wrap: normal;
	margin-top: 1px;
	cursor: inherit;
	text-overflow: clip;
}

.extension-item:hover {
	color: #000000;
	text-shadow: 0 1px 0 white;
	background-color: #e0e0e0;
	box-shadow: 0px 0px 15px rgba(0,0,0,.2) inset;
	border-radius: 2px;
}

/** Disabled Status */
.extension-status-disabled:hover {
	color: #555;
}

.extension-status-disabled {
	background-color: #f0f0f0;
	color: #888;
}

.extension-status-disabled img {
	opacity: 0.3;
}
