/* Options */
body {
	margin: 50px;
	overflow-x:hidden;
	overflow-y:auto;
	font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
}

hr {
	border: 0px;
	background-color: #ddd;
	height: 1px;
}

.clear {
	clear: both;
}

.blue {
	color: #516C97;
}

img {
	vertical-align: middle;
}

h1 {
	vertical-align: middle;
	font-weight: bold;
	font-size: 1.5em;
	color: #304669;
}

fieldset {
	margin-top: .5em;
	border: none;
}

fieldset .field {
	float: left;
	clear: left;
}

fieldset .field.right {
	float: right;
	clear: right;
}

button {
	cursor: pointer;
	font-weight: bold;
	font-size: 1em;
	font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
	color: #ffffff;
	background-color: #516C97;
	border-color: #516C97;
	border-width: 1px;
	border-style: solid;
	border-radius: 5px;
	padding: 7px 10px;
}

button:hover {
	opacity: .8;
}

span#save-result {
	color: #304669;
}

a {
	color: #304669;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

#header h1 {
	margin: 0px;
}

#header .tabs {
	float: left;
	width: 300px;
	max-width: 300px;
}

#header .help {
	float: right;
	padding: 20px 20px;
	background-color: #FFD478;
	border-radius: 10px;
	line-height: 150%
	width: 320px;
	max-width: 320px;
}

#header #menu {
	margin-left: 10px;
	padding-top: 20px;
	padding-bottom: 10px;
}

#header #menu a {
	cursor: pointer;
	font-weight: bold;
	font-size: 1em;
	color: #516C97;
	background-color: #fff;
	border: 1px solid #516C97;
	border-radius: 5px;
	padding: 5px 10px;
}
#header #menu a:hover {
	text-decoration: none;
}
#header #menu a.selected {
	background-color: #516C97;
	color: white;
}

/* Options */
fieldset#options .field {
	margin: .8em 0em;
}

/* Profiles */
#profiles fieldset {
	float: left;
	min-width: 600px;
	max-width: 70%;
}

.instructions {
	float: right;
}

#profiles .fa {
	cursor: pointer;
}

#profiles .fa-trash {
	zoom: 110%;
}

#profiles .sidebar {
	float: left;
	width: 200px;
	max-width: 200px;
}

#profiles .extensions {
	float: left;
}

#profiles ul {
	padding-left: 0px;
}

#profiles .sidebar ul.items li {
	cursor: pointer;
	padding: 7px;
	margin: 10px 0px;
}

#profiles .sidebar ul.items li.active {
	background-color: #ddd;
}

#profiles label {
	line-height: 200%;
}

#profiles label.disabled {
	opacity: 0.5;
}

#profiles ul {
	list-style-type: none;
}

#profiles .extensions {
	border-left: 1px solid #ddd;
	padding-left: 10px;
	padding-right: 10px;
}

#profiles .extensions p.toggle {
	margin: 0px;
	margin-left: -10px;
	margin-right: -10px;
	padding: 10px;
	background-color: #ddd;
}

#profiles input#name {
	padding: 5px;
	border-radius: 5px 0px 0px 5px;
	border: 1px solid #bbb;
	border-right: 0px;
	font-size: 1.05em;
}

#profiles button.add {
	padding: 5px 8px;
	border-radius: 0px 5px 5px 0px;
}

.info {
	padding: 20px 20px;
	background-color: #ddd;
	border-radius: 10px;
	line-height: 150%
	width: 320px;
	max-width: 320px;
}

.fa.right {
	float: right;
	cursor: pointer;
}

.fadeout {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s .5s, opacity .5s linear;
}

.visible {
  visibility: visible;
  opacity: 1;
}

.hidden {
	visibility: hidden;
}