/* Options */
body {
	margin: 50px;
	overflow-x:hidden;
	overflow-y:auto;
	font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
}

img {
	vertical-align: middle;
}

h1 {
	vertical-align: middle;
	font-weight: bold;
	font-size: 1.5em;
	color: #304669;
}

fieldset {
	margin-top: 2em;
	border: none;
	max-width: 500px;
}

fieldset .field {
	float: left;
	clear: both;
	margin-bottom: 2em;
}

fieldset .field.right {
	float: right;
	clear: none;
}

button {
	cursor: pointer;
	font-weight: bold;
	font-size: 1em;
	color: #ffffff;
	background-color: #516C97;
	border-color: #516C97;
	border-width: 1px;
	border-style: solid;
	border-radius: 5px;
	padding: 10px;
}

button:hover {
	opacity: .8;
}

span#save-result {
	color: #304669;
}

a {
	color: #304669;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

/* Profiles */
#profiles label {
	line-height: 200%;
}

#profiles label#header {
	float: left;
	background-color: #eee;
	padding: 5px 5px 5px 0px;
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #ccc;
}

#profiles input#name {
	font-size: 1.1em;
	padding: 5px 10px;
	border: 1px solid #ccc;
	border-radius: 3px;
	min-width: 220px;
}

#profiles #list ul#items {
	margin: 0px 0px 20px 0px;
	padding: 0px 0px;
	list-style-type: none;
	width: 200px;
}

#profiles #list ul#items li {
	line-height: 250%;
	padding-left: 10px;
	margin-left: -10px;
}

#profiles #list ul#items li.active {
	background-color: red;
}

.help {
	padding: 20px;
	background-color: #FFD478;
	border-radius: 10px;
}

.info {
	padding: 20px;
	background-color: #eee;
	border-radius: 10px;
}

.fa.right {
	float: right;
	cursor: pointer;
}